{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block hero_unit %}
{% endblock %}

{% block main %}
    <h2>Mission Statement</h2>
    <p>To be the unifying voice for children with medical needs throughout Nevada</p>
    <h2>Our Vision Statement</h2>
    <p>To provide advocacy, resources and support for community agencies who serve Nevada’s medically fragile children</p>
    <div class="centered">
    {% image '@AcmeDemoBundle/Resources/public/images/upcoming.jpg' %}
    <img src="{{ asset_url }}" alt="Fundraiser" />
    {% endimage %}
    </div>

{% endblock %}
