<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Children's Medical Advocacy Coalition{% endblock %}</title>

    {% block stylesheets %}
    <link href="{{ asset('bundles/acmedemo/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/acmedemo/css/demo.css') }}" rel="stylesheet">
    {% endblock %}

    {# CreateJS is only available for admins by default #}
    {% if app.security is not null and is_granted('ROLE_ADMIN') %}
        {% include "CmfCreateBundle::includecssfiles.html.twig" %}
    {% endif %}
</head>
<body class="container page">

    {% image '@AcmeDemoBundle/Resources/public/images/CMAC_Logo_Color.png' %}
    <img src="{{ asset_url }}" alt="Logo" style="height:100px"/>
    {% endimage %}

    {#<div class="floatright">#}
        {#Do you help Nevada's Children?<br />#}
        {#<a href="joinus.php">Join Us</a>#}
    {#</div>#}

    <nav class="navbar navbar-inverse page__nav" role="navigation">
        <div class="container-fluid">
            {{ knp_menu_render('simple', {'template': 'AcmeDemoBundle:Menu:bootstrap.html.twig', 'currentClass': 'active'}) }}
        </div>
    </nav>

    {% block hero_unit %}{% endblock %}

    <div class="page__main">
        {% block main %}{% endblock %}
    </div>

    {% render(controller("cmf_create.jsloader.controller:includeJSFilesAction")) %}

    <div class="large-6 columns">
        <p>© CMAC NV 2011</p>
    </div>
</body>
</html>
