{% extends 'AcmeDemoBundle::layout.html.twig' %}
{% block main %}

    {% createphp cmfMainContent as="rdf" %}

    {{ rdf|raw }}
<div class="past-events">
    <div>
        July 9, 2014 - <b>“Successful Advocating Processes and Nevada Legislative Issues”</b><br />
        Denise Tanata Ashby, Executive Director of Children’s Advocacy Alliance
    </div>

    <div>
        April 8, 2014 - <b>“Health Care Needs of Children in State Custody”</b><br />
        Lisa Ruiz-Lee , Director of Clark County Family Services
    </div>

    <div>
        January 1, 2014	- <b>“What Wells Fargo Needs to Donate Money to Non-Profits”</b><br />
        Emerlinda Castillejo , Assist. VP/Community Affairs Officer- Wells Fargo Community Relations
    </div>

    <div>
        September 18, 2013 - <b>“What’s New at Medicaid”</b><br />
        Laurie Squartsoff , Head of Medicaid for Nevada
    </div>

    <div>
        April 30, 2013 - <b>“What Can Happen to our Children”</b><br />
        Hon. Frank P. Sullivan, Eighth Judicial District Court Family Division, Dept. O
    </div>

    <div>
        January 6, 2013 - <b>“Public Relations and Cause Marketing”</b><br />
        Tami Belt, Blue Cube Marketing Solutions
    </div>

    <div>
        September 13, 2012 - <b>“Protecting Nevada’s Children”</b><br />
        Catherine Cortez Masto, Nevada Attorney General
    </div>

    <div>
        May 2, 2012 - <b>“What’s Happening for Children at the Nevada’s Legislature”</b><br />
        April Mastroluca, Assembly District 29, Chair of Interim Committee on Health Care,
        Chair of the Assembly Committee on Health & Human Services<br />
        Valerie Wiener, Senate District 3, Vice Chair of Interim Committee on Health Care
        Vice Chair of the Senate Committee on Health & Human Services
    </div>

    <div>
        February 8, 2012 - <b>“Crusading for Children”</b><br />
        Barbara Buckley, Legal Aid Center
    </div>

    <div>
        November 10, 2011 - <b>CMAC Open House</b><br />
    </div>

    <div>
        April 22, 2010 - <b>“Tour of Touro University”</b><br />
        Dr. Andy Eisen, Associate Dean for Clinical Education at Touro University
    </div>
</div>
    {% endcreatephp %}
{% endblock %}